<!DOCTYPE html>
<html class="x-admin-sm">

<head>
<meta charset="UTF-8">
<title>欢迎页面-X-admin2.2</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="stylesheet" href="../css/font.css">
<link rel="stylesheet" href="../css/xadmin.css">
<script src="../lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/xadmin.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-header" id="title"></div>
					<div class="layui-card-body">
						<table class="layui-table" id="LAY_table_equipment"
							lay-filter="test"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script>

   active = {
 	    reload: function(){
 	      var sn = $('#sn');
 	      var name = $('#name');
 	      var type = $('#type');
 	      var status = $('#status');
 	      var time = $('#inDepartmentTime');
 	      //执行重载
 	      table.reload('testReload', {
 	    	url: 'equipment/selectEquimentExtByPage'
 	        ,method:'get'
 	        ,page: {
 	          curr: 1 //重新从第 1 页开始
 	        }
 	        ,where: {
 	        	 sn: sn.val(),
 	          	 name: name.val(),
 	          	 type: type.val(),
 	          	 status: status.val(),
 	          	 time: time.val()
 	        }
 	      });
 	    }
 	  };
	/*var form = layui.form;
	$(document).ready(function() {　　
		$.ajax({
			contentType: "application/json;charset=utf-8",
			type: "get",
			url: "equipmentType/selectDistinctEquipmentType",
			dataType: "json",
			data:"",
			success: function(data) {
				$.each(data.data, function(i, item) {
					$('#name').append(new Option(item, item));
				});
				form.render("select");
			},
			error:function(){
				
			}
		});
	}); */
	
	layui.use('laydate', function() {
		var laydate = layui.laydate;

		//执行一个laydate实例
		laydate.render({
			elem : '#start' //指定元素
		});

		//执行一个laydate实例
		laydate.render({
			elem : '#end' //指定元素
		});

	});
</script>
<script>
function child(d) {
	var obj = JSON.parse(d);
	$("#title").html(obj.province+"("+obj.name+")");
	var id = obj.id;
	//alert(id);
	layui.use(['form','table','jquery'], function() {
		$ = layui.jquery;
		var table = layui.table;
		//方法级渲染
	    table.render({
	        elem: '#LAY_table_equipment'
	        ,url: 'department/findDeptDetail'
	        ,where: {h_id:id}
	        ,cellMinWidth: 100
	        ,cols: [[
	            {field:'meterId', title: '仪器ID', width:100, sort: true,align:'center'}
	            ,{field:'dName', title: '科室',sort: true, width:200,align:'center'}
	            ,{field:'sn', title: '序列号', width:160,align:'center'}
	            ,{field:'inDepartmentTime', title: '入科时间',sort: true, width:160,align:'center'}
	            ,{field:'status', title: '是否在用',
	            	templet : function (d) {
                        if (d.status == "否") {
                            return "<span title='否' class='layui-btn layui-btn-danger layui-btn-normal layui-btn-mini'>否</span>"
                        }
                        if (d.status == "是") {
                        	return "<span title='是' class='layui-btn layui-btn-normal layui-btn-mini'>是</span>"
                        }
                    },sort: true, width:98,align:'center'}
	        ]]
	  		,page: true //是否显示分页
	  		,limits:[5,10,15,20,50,100]
	   		,limit: 10 //每页默认显示的数量
	        ,id: 'testReload'
	        ,response: {
	        	statusCode: 200 //规定成功的状态码，默认：0
	        }
	        ,height: 467
	    });
	});
} 
</script>
</html>