<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">

<head>
<meta charset="UTF-8">
<title>欢迎页面-X-admin2.2</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />-->
<link rel="stylesheet" href="../css/font.css">
<link rel="stylesheet" href="../css/xadmin.css">
<script type="text/javascript" src="../lib/layui/layui.js"
	charset="utf-8"></script>
<script type="text/javascript" src="../js/xadmin.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
<!--<style>
.layui-form-select{
	width: 240px;
}
</style>-->
</head>

<body>
	<div class="layui-fluid">
		<div class="layui-row">
			<form class="layui-form">
					<input readonly="readonly" style="display: none;" type="text" id="id" name="id"
							required="" lay-verify="id" autocomplete="off"
							class="layui-input">
				<div class="layui-form-item">
					<label for="select_base_type" class="layui-form-label">设备类型
					</label>
					<div class="layui-input-inline">
						<select name="name" id="name" lay-filter="Type_filter"
									lay-search lay-verify="select_base_type" class="layui-input">
									<option value="">设备类型</option>
								</select>
					</div>
				</div>

				<div class="layui-form-item">
					<label for="type" class="layui-form-label"> 设备型号 </label>
					<div class="layui-input-inline">
						<select name="type" id="type" lay-search
									lay-filter="Model_filter" lay-verify="select_base_modle"
									class="layui-input">
									<option value="">设备型号</option>
								</select>
					</div>
				</div>

				<div class="layui-form-item">
					<label for="sn" class="layui-form-label"> 序列号 </label>
					<div class="layui-input-inline">
						<input readonly="readonly" type="text" id="sn" name="sn"
							required="" lay-verify="sn" autocomplete="off"
							class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label for="status" class="layui-form-label">状态</label>
					<div class="layui-input-inline">
						<select name="status" id="status" lay-filter="Status_filter"
							class="layui-input">
							<option value="10">在库</option>
							<option value="20">在院</option>
							<option value="30">出库</option>
							<option value="40">借用</option>
							<option value="50">返修</option>
							<option value="60">审核</option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<label for="property_no" class="layui-form-label"> <!--<span class="x-red">*</span>-->
						财产编号
					</label>
					<div class="layui-input-inline">
						<input type="text" id="property_no" name="property_no"
							autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label for="L_repass" class="layui-form-label"></label>
					<button class="layui-btn" lay-submit="" lay-filter="edit">修改</button>
				</div>
			</form>
		</div>
	</div>
	<script>
		layui.use([ 'form', 'layer', 'jquery' ], function() {
			$ = layui.jquery;
			var form = layui.form, layer = layui.layer;

			//自定义验证规则
			form.verify({
				select_base_type : function(value) {
					if (value == "") {
						return "设备类型不能为空";
					}
				},
				select_base_modle : function(value) {
					if (value == "") {
						return "设备型号不能为空";
					}
				},
				sn : function(value) {
					if (value == "") {
						return "序列号不能为空";
					}
					if (/\s+/.test(value)) {
						return "序列号不能有空格";
					}
				}
			});
			$(document).ready(function() {　　
				$.ajax({
					contentType: "application/json;charset=utf-8",
					type: "get",
					url: "equipmentType/selectDistinctEquipmentType",
					dataType: "json",
					data:"",
					success: function(data) {
						$.each(data.data, function(i, item) {
							$('#name').append(new Option(item, item));
						});
						form.render("select");
					},
					error:function(){
						
					}
				});
			});
			form.on('select(Type_filter)', function(data) {
				var data1 = {"name":data.value};
				 $.ajax({
					contentType: "application/json;charset=utf-8",
					type: "post",
					url: "equipmentType/selectEquipmentTypeByName",
					dataType: "json",
					data: JSON.stringify(data1),
					success: function(data2) {
						var obj = data2.data;
						$('#type').empty();
						$('#type').append(new Option("设备型号",""));
						$.each(obj, function(i) {
							$('#type').append(new Option(i,i));
						}); 
						form.render("select");
					},error:function(){
						
					}
				});
			});
			//监听提交
			form.on('submit(edit)', function(data) {
				var data = JSON.stringify(data.field);
				$.ajax({
					//请求方式
					type : "post",
					//url 
					url : "/equipment/updateEquiment",
					//把Js的对象或数组序列化一个son字符串
					data : data,
					//contentType 
					contentType : "application/json; charset=utf-8",
					//datarype 
					dataType : "json",
					//result 为请求的返回结果对象
					success : function(result) {
						if ("200" == result.status) {
							layer.alert("修改成功", {
								icon : 1
							}, function() {
								//关闭当前frame
								xadmin.close();
								// 可以对父窗口进行刷新 
								xadmin.father_reload();
							});
						} else {
							layer.alert("修改失败", {
								icon : 2
							}, function() {
								//关闭当前frame
								xadmin.close();

								// 可以对父窗口进行刷新 
								xadmin.father_reload();
							});
						}
					}
				});
				return false; 
			});

		});
	</script>
	<script>
		function child(d) {
			var obj = JSON.parse(d);
			$("#name option").each(function() {
				if ($(this).text() == obj.name) {
					$(this).attr("selected", true);
				}
			});
			/* function getType (){
				$.ajax({
					var data2 = {"name":obj.name};
					alert(data2);
					contentType: "application/json;charset=utf-8",
					type: "post",
					url: "equipmentType/selectEquipmentTypeByName",
					dataType: "json",
					data: JSON.stringify(data2),
					success: function(data) {
						$.each(data.data, function(i, item) {
							$('#type').append(new Option(item, item));
						});
						form.render("select");
					},
					error:function(){
						
					}
				});
			} */
			$("#type option").each(function() {
				if ($(this).text() == obj.type) {
					$(this).attr("selected", true);
				}
			});
			$("#sn").val(obj.sn);
			$("#status option").each(function() {
				if ($(this).text() == obj.status) {
					$(this).attr("selected", true);
				}
			});
			$(".layui-form-select dl dd").each(function() {
				if ($(this).text() == obj.status) {
					$(this).addClass("layui-this");
				}
			});
			layui.use(['form'], function() {
				var form = layui.form;
				form.render("select");
			});
			$("#property_no").val(obj.property_no);
			$("#id").val(obj.id);
		}
	</script>
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
</body>

</html>