<!DOCTYPE html>
<html class="x-admin-sm">

<head>
<meta charset="UTF-8">
<title>欢迎页面-X-admin2.2</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="stylesheet" href="../css/font.css">
<link rel="stylesheet" href="../css/xadmin.css">
<script src="../lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/xadmin.js"></script>
<!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">演示</a>
			<a> <cite>导航元素</cite></a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			onclick="location.reload()" title="刷新"> <i
			class="layui-icon layui-icon-refresh" style="line-height: 30px"></i>
		</a>
	</div>
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-body ">
						<form class="layui-form layui-col-space5">
							<div class="layui-inline layui-show-xs-block">
								<input type="text" name="sn" placeholder="序列号"
									autocomplete="off" class="layui-input">
							</div>
							<div class="layui-input-inline">
								<select name="" id="select_base_type" lay-filter="Type_filter"
									lay-search lay-verify="select_base_type" class="layui-input">
									<option value="">设备类型</option>
								</select>
							</div>
							<div class="layui-input-inline">
								<select name="et_id" id="select_base_modle" lay-search
									lay-filter="Model_filter" lay-verify="select_base_modle"
									class="layui-input">
									<option value="">设备型号</option>
								</select>
							</div>
							<div class="layui-input-inline">
								<select name="status" id="select_base_status" lay-search
									lay-filter="Status_filter" lay-verify="select_base_status"
									class="layui-input">
									<option value="">状态</option>
									<option value="10">在库</option>
									<option value="20">在院</option>
									<option value="30">出库</option>
									<option value="40">借用</option>
									<option value="50">返修</option>
									<option value="60">审核</option>
								</select>
							</div>
							<!-- <div class="layui-inline layui-show-xs-block">
								<input class="layui-input" autocomplete="off" placeholder="开始日期"
									name="start" id="start">
							</div>
							<div class="layui-inline layui-show-xs-block">
								<input class="layui-input" autocomplete="off" placeholder="截止日期"
									name="end" id="end">
							</div> -->
							<div class="layui-inline layui-show-xs-block">
								<button class="layui-btn" lay-submit="" lay-filter="sreach">
									<i class="layui-icon">&#xe615;</i>
								</button>
							</div>
						</form>
					</div>
					<div class="layui-card-body ">
						<table class="layui-table"
							lay-data="{url:'',page:true,toolbar:'#toolbarDemo',id:'test'}"
							lay-filter="test">
							<thead>
								<tr>
									<th lay-data="{type:'checkbox'}">ID</th>
									<th
										lay-data="{field:'sn',width:200, minWidth: 200, sort: true}">序列号</th>
									<th
										lay-data="{field:'et_id',width:150, minWidth: 200, sort: true}">设备类型</th>
									<th
										lay-data="{field:'type',width:150, minWidth: 200, sort: true}">设备型号</th>
									<th
										lay-data="{field:'inTime',width:150, minWidth: 200, sort: true}">入库时间</th>
									<th
										lay-data="{field:'propertyNo',width:150, minWidth: 200, sort: true}">财产编号</th>
									<th
										lay-data="{field:'status',width:100, minWidth: 100, sort: true,toolbar:'<div>xxx</div>' }">状态</th>
									<th
										lay-data="{fixed: '', width:250,minWidth: 200,toolbar:'#barDemo'}">操作</th>
									<!--
										<th lay-data="{type:'checkbox'}">ID</th>
										<th lay-data="{field:'id', width:80, sort: true}">ID</th>
										<th lay-data="{field:'username', width:120, sort: true, edit: 'text'}">用户名</th>
										<th lay-data="{field:'email', edit: 'text', minWidth: 150}">邮箱</th>
										<th lay-data="{field:'sex', width:80,templet: '#switchTpl'}">性别</th>
										<th lay-data="{field:'city', edit: 'text', minWidth: 100}">城市</th>
										<th lay-data="{field:'experience', sort: true, edit: 'text'}">积分</th>
										<th lay-data="{field:'dw_xinzhi',templet: function(d){ return d.dw_xinzhi.titel;}}">学校</th>
										-->
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/html" id="toolbarDemo">
		<div class = "layui-btn-container" > 
            <button class = "layui-btn layui-btn-sm" lay-event = "getCheckData" > 获取选中行数据 </button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button > 
            <button class = "layui-btn layui-btn-sm" lay-event = "isAll" > 验证是否全选</button>
			<button class="layui-btn" onclick="xadmin.open('添加设备','toPage?url=/static/Warehousing-add',700,500)">
							<i class="layui-icon"></i>添加
						</button>
			<button class="layui-btn" onclick="xadmin.open('批量添加设备','toPage?url=/static/Warehousing-adds',700,500)">
							<i class="layui-icon"></i>批量添加
						</button>
			<button class="layui-btn" onclick="xadmin.open('添加设备类型','toPage?url=/static/equipmentType-add',700,500)">
							<i class="layui-icon"></i>添加设备类型
						</button>
			<button class="layui-btn" onclick="xadmin.open('添加设备型号','toPage?url=/static/equipmentModel-add',700,500)">
							<i class="layui-icon"></i>添加设备型号
						</button>
		</div>
	</script>
<script type="text/html" id="barDemo">
		<div class="layui-btn-container">
		<a title="编辑" class="layui-btn layui-btn-mini" onclick="xadmin.open('编辑','member-edit.html',600,400)" href="javascript:;">编辑</a>
		<a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
		</div>	
</script>
<script>
layui.use(['form','jquery'], function() {
	$ = layui.jquery;
	var form = layui.form;
	$(document).ready(function() {　　
		$.ajax({
			contentType: "application/json;charset=utf-8",
			type: "get",
			url: "equipmentType/selectDistinctEquipmentType",
			dataType: "json",
			data:"",
			success: function(data) {
				$.each(data.data, function(i, item) {
					$('#select_base_type').append(new Option(item, item));
				});
				form.render("select");
			},
			error:function(){
				
			}
		});
	});
	form.on('select(Type_filter)', function(data) {
		var data1 = {"name":data.value};
		 $.ajax({
			contentType: "application/json;charset=utf-8",
			type: "post",
			url: "equipmentType/selectEquipmentTypeByName",
			dataType: "json",
			data: JSON.stringify(data1),
			success: function(data2) {
				var obj = data2.data;
				$('#select_base_modle').empty();
				$('#select_base_modle').append(new Option("设备型号",""));
				$.each(obj, function(i) {
					$('#select_base_modle').append(new Option(i,obj[i]));
				}); 
				form.render("select");
			},error:function(){
				
			}
		});
	});
});
	layui.use('laydate', function() {
		var laydate = layui.laydate;

		//执行一个laydate实例
		laydate.render({
			elem : '#start' //指定元素
		});

		//执行一个laydate实例
		laydate.render({
			elem : '#end' //指定元素
		});

	});
</script>
<script>
	/*用户-删除*/
	function member_del(obj, id) {
		layer.confirm('确认要删除吗？', function(index) {
			//发异步删除数据
			$(obj).parents("tr").remove();
			layer.msg('已删除!', {
				icon : 1,
				time : 1000
			});
		});
	}
	layui.use('table', function() {
		var table = layui.table;

		//监听单元格编辑
		table.on('edit(test)', function(obj) {
			var value = obj.value //得到修改后的值
			, data = obj.data //得到所在行所有键值
			, field = obj.field; //得到字段
			layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
		});

		//头工具栏事件
		table.on('toolbar(test)', function(obj) {
			var checkStatus = table.checkStatus(obj.config.id);
			switch (obj.event) {
			case 'getCheckData':
				var data = checkStatus.data;
				layer.alert(JSON.stringify(data));
				break;
			case 'getCheckLength':
				var data = checkStatus.data;
				layer.msg('选中了：' + data.length + ' 个');
				break;
			case 'isAll':
				layer.msg(checkStatus.isAll ? '全选' : '未全选');
				break;
			}
			;
		});
	});
</script>
</html>