<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bionime.mapper.ChangeFormMapper">
	<!-- 科室新增 -->
	<insert id="insert" parameterType="com.bionime.pojo.ChangeForm">
		insert into change_form
		(f_text,operator,f_date,type,delete_tag)
		values(#{f_text},#{operator},#{f_date},#{type},'0')
	</insert>
</mapper>