<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bionime.mapper.EquipmentMapper">
	<select id="insert" resultType="com.bionime.pojo.Equipment" parameterType="com.bionime.pojo.Equipment">
		insert into equipment (sn,type,status,in_time,explain,h_id,d_id,et_id,property_no,delete_tag) 
		values(#{sn},#{type},#{status},#{in_time},#{explain},#{h_id},#{d_id},#{et_id},#{property_no},0)
	</select>
</mapper>