<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bionime.mapper.EquipmentMapper">
	<resultMap type="com.bionime.pojo.EquipmentExt"
		id="EquipmentAndTypeRsMap">
		<id column="id" property="id" />
		<result column="sn" property="sn" />
		<result column="status" property="status" />
		<result column="property_no" property="property_no" />
		<association property="equipmentType"
			javaType="com.bionime.pojo.EquipmentType">
			<id column="id" property="id" />
			<result column="name" property="name" />
			<result column="type" property="type" />
		</association>
	</resultMap>

	<!-- 设备新增 -->
	<insert id="insert" parameterType="java.util.List">
		insert into equipment
		(sn,status,in_time,description,et_id,property_no,delete_tag)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.sn},#{item.status},#{item.in_time},#{item.description},#{item.et_id},#{item.property_no},'0')
		</foreach>
	</insert>

	<!-- 根据设备设备类型查找设备 -->
	<select id="selectByType"
		parameterType="com.bionime.pojo.EquipmentType"
		resultType="com.bionime.pojo.Equipment">
		select * from equipment where et_id=#{id}
	</select>

	<!-- 根据序列号查找设备 -->
	<select id="selectBySn" parameterType="java.lang.String"
		resultType="com.bionime.pojo.Equipment">
		select * from equipment where sn in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>

	<!-- 批量修改设备状态 -->
	<update id="statusChange">
		update equipment
		<set>
			status=#{status}
			<if test="h_id!=null and h_id!=''">
				,h_id =#{h_id}
			</if>
			<if test="d_id!=null and d_id!=''">
				,d_id=#{d_id}
			</if>
		</set>
		where id in
		<foreach collection="ids" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	<!-- 根据id修改设备delete_tag,伪删除 -->
	<update id="updateEquipmentExtById">
		update equipment e
		<set>
			e.delete_tag=1
		</set>
		where
		e.id=#{id}
	</update>
	<!-- 修改设备信息 -->
	<update id="updateEquipmentExt">
		update equipment set
		sn=#{sn},status=#{status}
		<if test="description!=null and description!=''">
			,description=#{description}
		</if>
		<if test="h_id!=null and h_id!=''">
			,h_id =#{h_id}
		</if>
		<if test="d_id!=null and d_id!=''">
			,d_id=#{d_id}
		</if>
		<if test="et_id!=null and et_id!=''">
			,et_id=#{et_id}
		</if>
		<if test="property_no!=null">
			,property_no=#{property_no}
		</if>
		where id =#{id}
	</update>
	<!-- 根据设备型号和状态统计数量 -->
	<select id="selectCountByStatus" resultType="int">
		SELECT count(*) from equipment e,equipment_type et
		where e.et_id=et.id
		<if test="type!=null and type!=''">
			and et.type=#{type}
		</if>
		<if test="status!=null and status!=''">
			and e.status=#{status}
		</if>
		<if test="name!=null and name!=''">
			and et.name=#{name}
		</if>
	</select>
	<!-- 所有设备的信息，外联EquipmentType -->
	<!-- <select id="selectEquimentExt" resultMap="EquipmentAndTypeRsMap"> -->
	<select id="selectEquipmentExt"
		parameterType="com.bionime.pojo.EquipmentExt"
		resultType="com.bionime.pojo.EquipmentExt">
		select
		equipment.id,
		equipment.sn,
		equipment_type.name,
		equipment_type.type,
		equipment.in_time,
		equipment.property_no,
		equipment.status
		from equipment left join equipment_type
		on
		equipment.et_id=equipment_type.id
		<where>
			equipment.delete_tag=0
			<if test="sn!=null and sn!=''">
				and sn like CONCAT('%',#{sn},'%')
			</if>
			<if test="name!=null and name!=''">
				and name=#{name}
			</if>
			<if test="type!=null and type!=''">
				and type=#{type}
			</if>
			<if test="status!=null and status!=''">
				and status=#{status}
			</if>
		</where>
	</select>
	<!-- 根据id查询 -->
	<select id="selectEquipmentById"
		parameterType="java.lang.Long"
		resultType="com.bionime.pojo.Equipment">
		select * from equipment where id=#{id}
	</select>
	
	<!-- 所有设备的信息，外联EquipmentType,并分页查询 -->
	<select id="selectEquipmentExtByPage" parameterType="hashMap"
		resultType="com.bionime.pojo.EquipmentExt">
		select
		equipment.id,
		equipment.sn,
		equipment_type.name,
		equipment_type.type,
		equipment.in_time,
		equipment.property_no,
		equipment.status
		from equipment left join equipment_type
		on
		equipment.et_id=equipment_type.id
		<where>
			equipment.delete_tag=0
			<if test="sn!=null and sn!=''">
				and sn like CONCAT('%',#{sn},'%')
			</if>
			<if test="name!=null and name!=''">
				and name=#{name}
			</if>
			<if test="type!=null and type!=''">
				and type=#{type}
			</if>
			<if test="status!=null and status!=''">
				and status=#{status}
			</if>
		</where>
		<if test="page != null and limit!= null">
            <![CDATA[
                LIMIT #{page},#{limit}
            ]]>
		</if>
	</select>
	
	<!-- 根据序列号查询id -->
	<select id="selectEquipmentIdBySn"
		parameterType="java.lang.String"
		resultType="com.bionime.pojo.Equipment">
		select * from equipment where sn=#{sn}
	</select>
	
	<!-- 根据科室id查询设备 -->
	<select id="selectEquipmentIdByDid"
		parameterType="java.lang.Long"
		resultType="com.bionime.pojo.Equipment">
		select * from equipment where d_id=#{d_id}
	</select>
</mapper>