<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bionime.mapper.EquipmentRecordMapper">
	<!-- 设备新增 -->
	<insert id="insert" parameterType="java.util.List">
		insert into equipment_record
		(e_id,change_type,change_time,h_id,d_id)
		values
		(#{e_id},#{change_type},#{change_time},#{h_id},#{d_id})
	</insert>
</mapper>